*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
}

body {
    font-family: PT Serif, Arial, Helvetica, sans-serif;
}

 a {
    text-decoration: none;
 }

 /*link*/
 .link-arrow {
    color: #1ECBE1;
    text-transform: uppercase;
 }

 .link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
 }

 .link-arrow:hover::after {
    margin-left: 10px;
 }

 /*icon*/
 .icons {
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    fill: black;
    background-color:#1ECBE1;
    width: 30px;
    height: 30px;
 }

 .icon--primary {
   background: #1ECBE1;
   color: blue;
}

.icon--primary:hover {
   background: #1ECBE1;
   border-radius: 10px;
   transition: 0.3s;
}

.icon--menu {
   width: 30px;
   height: 30px;
   opacity:1 ;
}

.nav.collapsible_whenclicked .icon--menu {
   opacity: 0.5;
}

 .icon-container {
    background: #f3f9fa;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    justify-content:center;
    align-items: center;
 }

  /*button*/
 .btn {
    font-size:1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    border : 0;
    border-radius: 30px;
    margin: 1rem 0;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
 }

 .btn--primary {
    background: #2FD073;
    color: white;
 }

 .btn--primary:hover {
    background: white;
    color: #2FD073;
 }

 .btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/*navigation bar*/
 .collapsible_header {
   display: flex;
   justify-content: space-between;
 }

 .collapsible_heading {
   margin-top: 0;
 }

 .collapsible_content {
   max-height: 0;
   overflow: hidden;
   transition: all 0.4s;
   opacity: 0;
 }

 .collapsible_whenclicked .collapsible_content{
   max-height: 100vh;
   opacity: 1;
 }

 .list {
   list-style: none;
 }

 .nav{
   display:flex;
   justify-content: space-between;
   flex-wrap:wrap;
   padding: 0rem;
   align-items: center;
   background-color:#1ECBE1;
 }

 .nav_list {
   width:100%;
   margin: 0;
   padding: 0rem;
 }

 .nav_item {
  width: 100%;
  font-size: 1.2rem;
   color: #f3f3f3;
   padding: 0.5rem 0.5rem;
   border-bottom: 1px solid #f3f3f3;
   margin-right: 0rem;
 }

 .nav_item > a {
   color: #f3f3f3;
   transition: color .3s
 }

 .nav_item > a:hover {
   color: lightgrey;
 }

 .menuhead{
   margin: 0;
   color: white;
   margin-left: 2rem;
 }

 @media screen and (min-width: 770px) {
   .icon--menu {
      display:none;
   }
   .nav_list {
      width: auto;
      display: flex;
      max-height:100%;
      opacity:1;
   }
   .nav_item {
      border:0;
      padding: 0.5rem 3rem;
   }
 }

 .menu_item {
  color: white;
   transition: color .3s
 }

 .menu_item:hover {
  color: lightgrey;
}

 /*profile*/
 .card {
   border-radius: 7px;
   box-shadow: 0 0 20px 10px #f3f3f3;
   margin: 0rem 0rem 0rem 0rem;
   background-size: 100%;
 }

 .card__img {
   box-shadow: 0 0 20px 10px #f3f3f3;
   width: 60%;
   margin: auto;
   display: block;
 }
 .card__body {
   color: black;
   margin: auto;
   display: block;
 }

 .profile {
  padding: 3rem 3rem;
  align-items: center;
  
}

 .profilelist {
   margin: 0rem;
   line-height: 4rem;
   list-style: none;
 }

 .profilebackground {
   width: 900px;
   height: 350px;
 }

 .profile_item {
  font-size: 1.2rem;
   color: black;
   padding: 0.5rem 1rem;
 }

 .inlist {
   display: flex;
   vertical-align: text-bottom;
 }

 .profileicon {
   background-color: #F2C40D;
   border-radius: 25%;
   width: 25px;
   height: 25px;
   margin-right: 0.6rem;
   margin-top: 1.3rem;
 }

 .profilelink {
   color: black;

 }

 .profile_item {
  padding: 0rem;
  height: auto;
  border-bottom: 1px solid #2FD073;
}

.profile__heading {
  color: black;
  font-size: 3rem;
  margin-bottom: 0;
}

.profile__contents {
  font-size: 1.2rem;
  opacity: 0.6;
 }

@media screen and (min-width: 770px) {
  .card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    margin: 5rem 5rem 0rem 5rem;
    background-size: 100%;
  }
 
  .card__img {
    box-shadow: 0 0 20px 10px #f3f3f3;
    width: 60%;
    margin: auto;
    display: block;
  }
  .card__body {
    color: black;
    margin: auto;
    display: block;
  }
 
  .profile {
   padding: 3rem 3rem;
   align-items: center;
   
 }
 
  .profilelist {
    margin: 0rem;
    line-height: 4rem;
    list-style: none;
  }
 
  .profilebackground {
    width: 900px;
    height: 350px;
  }
 
  .profile_item {
   font-size: 1.2rem;
    color: black;
    padding: 0.5rem 1rem;
  }
 
  .inlist {
    display: flex;
    vertical-align: text-bottom;
  }
 
  .profileicon {
    background-color: #F2C40D;
    border-radius: 25%;
    width: 25px;
    height: 25px;
    margin-right: 0.6rem;
    margin-top: 1.3rem;
  }
 
  .profilelink {
    color: black;
 
  }
 
  .profile_item {
   padding: 0rem;
   height: auto;
   border-bottom: 1px solid #2FD073;
 }
 
 .profile__heading {
   color: black;
   font-size: 4rem;
   margin-bottom: 0;
 }

 .profile__contents {
  font-size: 2rem;
  opacity: 0.6;
 }
 }

 /*gtid*/
 .grid {
  display:grid;
 }

 @media screen and (min-width: 770px) {
  .grid--cols-2 {
   grid-template-columns: repeat(2, 1fr);
  }
 }

 /*Hero*/

 .container {
  max-width: 1140px;
  margin: 0 auto;
}

.block_banner {
  padding: 6rem 2rem;
  background:linear-gradient(#1ECBE1, #F2C40D);
  text-align: center;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.block_title {
  padding: 0;
  text-align: center;
}

.block__heading {
  color: white;
  font-size: 4rem;
  margin-top: 0;
}

.block__contents {
  margin-top: 0;
  color: white;
  font-size: 2rem;
}

.block--shape {
  padding-bottom: 10rem;
  clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 100%);
}

@media screen and (min-width: 770px) {
  .block--shape {
    padding-bottom: 10rem;
    clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 100%, 30% 75%);
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  padding-top: 10;
}

@media screen and (min-width: 770px) {
  .hero {
    padding-top: 0;
    height: 780px;
  }
  .hero__content {
    padding: 3rem 4rem;
    color: white;
    font-size: 2.5rem;
  }
  .hero__tagline {
    margin-bottom: 4rem;
    letter-spacing: 1px;
    font-size: 2rem;
  }
  
  .hero__image {
    width: 80%;
    margin-top: 1rem;
  }
}

.hero__content {
  padding: 3rem 0rem;
  color: white;
  font-size: 2.5rem;
  margin-left: 0rem;
}

.hero__tagline {
  margin-bottom: 4rem;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-left: 0rem;
}

.hero__image {
  width: 80%;
  margin: auto;
}

/*Feature*/
.maincontent_heading1 {
  margin: 10rem 3rem;
  margin-bottom: 0rem;
  font-size: 3.5rem;
  color: black;
}

.maincontent_heading2 {
  margin: 10rem 3rem;
  margin-bottom: 0rem;
  font-size: 3.5rem;
  color: black;
}

.maincontent_heading3 {
  margin: 10rem 3rem;
  margin-bottom: 0rem;
  font-size: 3.5rem;
  color: black;
}

.maincontent_heading4 {
  margin: 10rem 3rem;
  margin-bottom: 0rem;
  font-size: 3.5rem;
  color: black;
}

.maincontent_text {
  margin: 0rem 3rem;
  margin-bottom: 5rem;
  opacity: 0.7;;
}

.maincontent_link {
  margin: 0rem 3rem;
  color: #D83A27;
}

.experiencelogo2 {
  background-color: white;
  border: none;
  fill: black;
  width: 30px;
  height: 30px;
  margin: 0rem;
}

.logo2-container1 {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 0 5px 5px white;
  position:absolute;
  top:114rem;
  right: 14rem;
  border: solid 1px white;
}

.logo2-container2 {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 0 5px 5px white;
  position:absolute;
  top:114rem;
  right: 11.7rem;
  border: solid 1px white;
}

.experiencelogo {
  width: 100%;
  margin-top: 1rem;
}
.educationlogo {
  width: 100%;
  margin-top: 1rem;
}

.passionlogo {
  width: 100%;
  margin-top: 1rem;
}

.skillslogo {
  width: 100%;
  margin-top: 1rem;
}

.orderchange {
  display: grid;
  grid-template-areas: "content"
                        "logo";
}

.content {
  grid-area: content;
}

.logo {
  grid-area: logo;
}

@media screen and (min-width: 700px) {
  .orderchange {
    display: grid;
    grid-template-areas: "logo content";
  }
}