<div class="card profile">
  <div class="grid grid--cols-2">
    <img class="card__img" src="images/Headshot.JPG" alt="Headshot"></img>
    <div class="card__body">
      <ul class="profilelist">
        <li class="nav_item inlist">
          <span>
            <svg class="icons icon--primary profileicon">
                <use xlink:href="images/person.svg#person-svgrepo-com"></use>
              </svg>
        </span>Yuang Lin
      </li>
      <li class="nav_item inlist">
        <span>
          <svg class="icons icon--primary profileicon">
              <use xlink:href="images/mail.svg#chat-chatting-communication-svgrepo-com (1)"></use>
            </svg>
      </span>Email: a68lin@uwaterloo.ca</li>
      <li class="nav_item inlist">
        <span>
          <svg class="icons icon--primary profileicon">
              <use xlink:href="images/sprite.svg#call-communication-device-svgrepo-com"></use>
            </svg>
      </span>Phone: 807-706-3512</li>
      <li class="nav_item inlist">
        <span>
          <svg class="icons icon--primary profileicon">
              <use xlink:href="images/sprite.svg#github-svgrepo-com"></use>
            </svg>
      </span>Github profile: github.com/a68lin</li>
      <li class="nav_item inlist">
        <span>
          <svg class="icons icon--primary profileicon">
              <use xlink:href="images/city.svg#city-svgrepo-com (1)"></use>
            </svg>
      </span>Shenyang -> Vancouver -> Waterloo/Toronto</li>
      </ul>
    </div>
  </div>
</div>